$text-color-default = #606060
$background-color-main = #fff
$background-color-second = #6e98b1
$font-family = Tahoma, Arial, sans-serif
$button-text-color = #000
$button-border-radius = 2px

placeholder(block)
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
